# Google OAuth Client ID for Frontend
VITE_GOOGLE_CLIENT_ID="300642805645-mp30bt70dfmfssri8rde0d7rpdlcvgn9.apps.googleusercontent.com"

# API URL
# For local development: http://localhost:5000/api
# For production: https://stressless.onrender.com/api
VITE_API_URL="http://localhost:5000/api"
